// ==================================
// hero
// ==================================
.p-hero{
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50%;
    display: flex;
}