// ==================================
// menu
// ==================================
.c-menu {
    display: flex;
    align-items: center;
    font-size: $font-size_default;
    font-family: $font-family_default;
    &__item {
      margin-right: $space_xl;
    }
    &__link {
      -webkit-font-smoothing: initial;
    }
    @include mq(md) {
      display: block;
      font-size: $font-size_l;
      &__item {
        margin-right: initial;
      }
      &__link {
        -webkit-font-smoothing: initial;
        display: block;
        padding: $space_l;
        text-align: center;
      }
    }
  }